rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone
    match /{document=**} {
      allow read, write; // or allow read, write: if true;
    }
  }
}
